<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//org.mybatis/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="my.remind.board.mapper.ContentsMapper">
	<select id="getTime" resultType="java.lang.String">
		SELECT NOW()
	</select>
	
	<!-- Configuration Pagination-->
	<!-- Pagination: 게시글 개수 -->
	<select id="getContentsCount" resultType="java.lang.Integer">
		SELECT count(*)
		FROM contents
		WHERE cAvailable = 1
	</select>
	<!-- Pagination: 이전 페이지가 존재하는지 체크 -->
	<select id="checkNextPage" parameterType="java.lang.Integer" resultType="java.lang.Integer">
		SELECT count(*)
		FROM contents
		WHERE cNo <![CDATA[ < ]]> #{ cNo }
		AND cAvailable = 1
	</select>
	<!-- Pagination: 다음 페이지가 존재하는지 체크 -->
	<select id="checkPrevPage" parameterType="java.lang.Integer"  resultType="java.lang.Integer">
		SELECT count(*)
		FROM contents
		WHERE cNo <![CDATA[ > ]]> #{ cNo }
		AND cAvailable = 1
	</select>
	
	<!-- Configuration Content -->	
	<!-- SELECT: 마지막 게시물의 글 번호 가져오기 -->
	<select id="getLastContentId" resultType="java.lang.Integer">
		SELECT cNo
		FROM contents
		WHERE cAvailable = 1
		ORDER BY cNo DESC
		LIMIT 1
	</select>
	<!-- SELECT: 게시글 가져오기 -->
	<select id="getContent" parameterType="java.lang.Integer" resultType="my.remind.board.vo.ContentVO">
		SELECT *
		FROM contents
		WHERE cNo = #{cNo}
	</select>
	<!-- SELECT: 게시글 목록 가져오기 -->
	<select id="getContents" parameterType="hashmap" resultType="my.remind.board.vo.ContentVO">
		SELECT *
		FROM contents
		WHERE cAvailable = 1
		ORDER BY cNo DESC
		LIMIT #{start}, #{count}
	</select>
	
	<!-- INSERT: 게시글 작성하기 -->
	<insert id="insertContent">
		INSERT INTO contents(
			cNo,
			cTitle,
			cWriter,
			cDate,
			cContent,
			cAvailable
		)
		VALUES (
			#{cNo},
			#{cTitle},
			#{cWriter},
			#{cDate},
			#{cContent},
			#{cAvailable}
		)
	</insert>
	
	<!-- UPDATE: 게시글 수정하기 -->
	<update id="updateContent">
		UPDATE contents
		SET cTitle = #{cTitle},
			cDate = #{cDate},
			cContent = #{cContent}
		WHERE cNo = #{cNo}
	</update>
	<!-- UPDATE: 게시글을 안보이게 수정 : 나중에 remove로 변경 -->
	<update id="deleteContent">
		UPDATE contents
		SET cAvailable = 0
		WHERE cNo = #{cNo}
	</update>
</mapper>